<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @car.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @car.Vin %>
</p>

<p>
  <strong>Parts:</strong>
  <ul>
    <% @car.parts.each do |part|%>
      <li><%= part.name %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
